//colors

$backgroundColor: #232323;
$pokeCardColor: #1E1E1E;
$darkTheme1: #2C2C2C;
$darkTheme2: #1E1E1E;

//types
$pokemonTypeBug: #92BC2C;
$pokemonTypeElectric: #F2D94E;
$pokemonTypeFire: #FBA54C;
$pokemonTypeFlying: #A1BBEC;
$pokemonTypeGrass: #5FBD58;
$pokemonTypeIce: #75D0C1;
$pokemonTypeNormal: #A0A29F;
$pokemonTypeWater: #539DDF;
$pokemonTypePoison: #B763CF;
$pokemonTypeDark: #595761;
$pokemonTypeDragon: #0C69C8;
$pokemonTypeFairy: #EE90E6;
$pokemonTypeFighting: #D3425F;
$pokemonTypeGhost: #5F6DBC;
$pokemonTypeGround: #DA7C4D;
$pokemonTypePsychic: #FA8581;
$pokemonTypeRock: #C9BB8A;
$pokemonTypeSteel: #5695A3;
